# Capstone project

In [575]:
#import external libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

#in notebook (jupyter) environment you should also load
%matplotlib inline

#define how many columns and rows you want to see in output console (in large dataframes 
#you should limit this by changing none to an integer like 10 or 20)
pd.set_option("max_columns", 50)
pd.set_option("max_rows", 50)

In [576]:
!wget -O datacollisions.csv https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv

--2020-09-27 09:52:56--  https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv
Resolving s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)... 67.228.254.196
Connecting to s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73917638 (70M) [text/csv]
Saving to: ‘datacollisions.csv’

100%[======================================>] 73,917,638  35.5MB/s   in 2.0s

2020-09-27 09:52:59 (35.5 MB/s) - ‘datacollisions.csv’ saved [73917638/73917638]

# Load Data From CSV File

In [577]:
df = pd.read_csv('datacollisions.csv')
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,,NaN,2,Injury Collision,Angles,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Overcast,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,NaN,NaN,1,Property Damage Only Collision,Sideswipe,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),16,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",NaN,0,Raining,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,NaN,NaN,1,Property Damage Only Collision,Parked Car,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",NaN,0,Overcast,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,,NaN,1,Property Damage Only Collision,Other,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Clear,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,NaN,NaN,2,Injury Collision,Angles,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,0,Raining,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

# Change column labels to string type

In [578]:
# column labels are of type string. So let's change them all to string type.
df.columns = list(map(str, df.columns))
# let's check the column labels types now
print(all(isinstance(column, str) for column in df.columns))

True

# Basic data analysis

In [579]:
print('Column names:', df.columns)
print(df.shape)

Column names: Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')
(194673, 38)

# Question : can we use the physical environment to predect the severity of accidents?

In [580]:
dfp= df[['SEVERITYCODE','WEATHER', 'ROADCOND', 'LIGHTCOND']]

In [581]:
for col in list(dfp):
    print(col)
    print(dfp[col].unique())

SEVERITYCODE
[2 1]
WEATHER
['Overcast' 'Raining' 'Clear' nan 'Unknown' 'Other' 'Snowing'
 'Fog/Smog/Smoke' 'Sleet/Hail/Freezing Rain' 'Blowing Sand/Dirt'
 'Severe Crosswind' 'Partly Cloudy']
ROADCOND
['Wet' 'Dry' nan 'Unknown' 'Snow/Slush' 'Ice' 'Other' 'Sand/Mud/Dirt'
 'Standing Water' 'Oil']
LIGHTCOND
['Daylight' 'Dark - Street Lights On' 'Dark - No Street Lights' nan
 'Unknown' 'Dusk' 'Dawn' 'Dark - Street Lights Off' 'Other'
 'Dark - Unknown Lighting']

## Let us clean up the data and remove NaN's, "other" and unknown

In [582]:
dfp= dfp[~(dfp == 'Other').any(axis=1)]
dfp= dfp[~(dfp == 'Unknown').any(axis=1)]
dfp.dropna(inplace=True)

for col in list(dfp):
    print(col)
    print(dfp[col].unique())
dfp.columns

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

SEVERITYCODE
[2 1]
WEATHER
['Overcast' 'Raining' 'Clear' 'Snowing' 'Fog/Smog/Smoke'
 'Sleet/Hail/Freezing Rain' 'Blowing Sand/Dirt' 'Severe Crosswind'
 'Partly Cloudy']
ROADCOND
['Wet' 'Dry' 'Snow/Slush' 'Ice' 'Sand/Mud/Dirt' 'Standing Water' 'Oil']
LIGHTCOND
['Daylight' 'Dark - Street Lights On' 'Dark - No Street Lights' 'Dusk'
 'Dawn' 'Dark - Street Lights Off' 'Dark - Unknown Lighting']

Index(['SEVERITYCODE', 'WEATHER', 'ROADCOND', 'LIGHTCOND'], dtype='object')

## Balancing the data for useful modelling with machine learning

I will also reduce the total sample size because of the immense calculation times.

In [583]:
dfp['SEVERITYCODE'].value_counts()

1    114274
2     55683
Name: SEVERITYCODE, dtype: int64

In [584]:
from sklearn.utils import resample

# Separate majority and minority classes
dfp_majority = dfp[df.SEVERITYCODE==1]
dfp_minority = dfp[df.SEVERITYCODE==2]

# Downsample minority class
dfp_minority_downsampled = resample(dfp_minority, 
                                 replace=False,    # sample without replacement
                                 n_samples=10000,     # to match minority class
                                 random_state=123) # reproducible results
 
# Downsample majority class
dfp_majority_downsampled = resample(dfp_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=10000,     # to match minority class
                                 random_state=123) # reproducible results
 
# Combine minority class with downsampled majority class
dfp_downsampled = pd.concat([dfp_majority_downsampled, dfp_minority_downsampled])

# Rename the datafframe
dfp = dfp_downsampled

# Display new class counts
dfp.SEVERITYCODE.value_counts()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

2    10000
1    10000
Name: SEVERITYCODE, dtype: int64

## Turn categories in columns into dummies

In [585]:
dfpd= pd.concat([dfp,pd.get_dummies(dfp['LIGHTCOND'])], axis=1)
dfpd= pd.concat([dfpd,pd.get_dummies(dfp['ROADCOND'])], axis=1)
dfpd= pd.concat([dfpd,pd.get_dummies(dfp['WEATHER'])], axis=1)
dfpd.drop(['WEATHER', 'ROADCOND', 'LIGHTCOND'], axis=1, inplace=True)

In [586]:
y = dfpd[['SEVERITYCODE']].values
y[0:5]

array([[1],
       [1],
       [1],
       [1],
       [1]])

In [587]:
dfpd['SEVERITYCODE'].value_counts()

2    10000
1    10000
Name: SEVERITYCODE, dtype: int64

In [588]:
X = dfpd
X.drop(['SEVERITYCODE'], axis=1, inplace=True)
X[0:5]

,Dark - No Street Lights,Dark - Street Lights Off,Dark - Street Lights On,Dawn,Daylight,Dusk,Dry,Ice,Oil,Sand/Mud/Dirt,Snow/Slush,Standing Water,Wet,Blowing Sand/Dirt,Clear,Fog/Smog/Smoke,Overcast,Partly Cloudy,Raining,Severe Crosswind,Sleet/Hail/Freezing Rain,Snowing
57873,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
153322,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
50318,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
66119,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
101767,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [589]:
print(y.shape)
print(X.shape)

(20000, 1)
(20000, 22)

In [632]:
X.columns

Index(['Dark - No Street Lights', 'Dark - Street Lights Off',
       'Dark - Street Lights On', 'Dawn', 'Daylight', 'Dusk', 'Dry', 'Ice',
       'Oil', 'Sand/Mud/Dirt', 'Snow/Slush', 'Standing Water', 'Wet',
       'Blowing Sand/Dirt', 'Clear', 'Fog/Smog/Smoke', 'Overcast',
       'Partly Cloudy', 'Raining', 'Severe Crosswind',
       'Sleet/Hail/Freezing Rain', 'Snowing'],
      dtype='object')

## Train - test set creation

In [590]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (16000, 22) (16000, 1)
Test set: (4000, 22) (4000, 1)

## K nearest neighbor classification model

In [591]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [592]:
for k in range(1, 6):
    knn_model  = KNeighborsClassifier(n_neighbors = k).fit(x_train, y_train)
    knn_yhat = knn_model.predict(x_test)
    print("For K = {} accuracy = {}".format(k,accuracy_score(y_test,knn_yhat)))

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  from ipykernel import kernelapp as app

For K = 1 accuracy = 0.48825

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  from ipykernel import kernelapp as app

For K = 2 accuracy = 0.47775

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  from ipykernel import kernelapp as app

For K = 3 accuracy = 0.499

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  from ipykernel import kernelapp as app

For K = 4 accuracy = 0.484

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  from ipykernel import kernelapp as app

For K = 5 accuracy = 0.48475

In [593]:
best_knn_model = KNeighborsClassifier(n_neighbors = 2).fit(x_train, y_train)
best_knn_model

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=2, p=2,
           weights='uniform')

In [594]:
## Evaluation Metrics
# jaccard score and f1 score
from sklearn.metrics import jaccard_similarity_score
from sklearn.metrics import f1_score

print("Train set Accuracy (Jaccard): ", jaccard_similarity_score(y_train, best_knn_model.predict(x_train)))
print("Test set Accuracy (Jaccard): ", jaccard_similarity_score(y_test, best_knn_model.predict(x_test)))

print("Train set Accuracy (F1): ", f1_score(y_train, best_knn_model.predict(x_train), average='weighted'))
print("Test set Accuracy (F1): ", f1_score(y_test, best_knn_model.predict(x_test), average='weighted'))

Train set Accuracy (Jaccard):  0.4945625
Test set Accuracy (Jaccard):  0.47775
Train set Accuracy (F1):  0.4760738524758266
Test set Accuracy (F1):  0.4588229705171633

In [595]:
# check yhat
yhat = best_knn_model.predict(x_test)
yhat[0:20]

array([1, 2, 1, 2, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1])

# Support Vector Machines

In [596]:
#importing svm
from sklearn import svm 
from sklearn.metrics import f1_score

In [597]:
for k in ('linear', 'poly', 'rbf','sigmoid'):
    svm_model = svm.SVC( kernel = k).fit(x_train,y_train)
    svm_yhat = svm_model.predict(x_test)
    print("For kernel: {}, the f1 score is: {}".format(k,f1_score(y_test,svm_yhat, average='weighted')))

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

For kernel: linear, the f1 score is: 0.4989571409619487

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

For kernel: poly, the f1 score is: 0.32779264214046816
For kernel: rbf, the f1 score is: 0.502761935701602

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

For kernel: sigmoid, the f1 score is: 0.5054829419584961

In [598]:
## building best SVM with kernel = rbf
best_svm = svm.SVC(kernel='linear').fit(x_train,y_train)
best_svm

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [599]:
## Evaluation Metrics
# jaccard score and f1 score
from sklearn.metrics import jaccard_similarity_score
from sklearn.metrics import f1_score

print("Train set Accuracy (Jaccard): ", jaccard_similarity_score(y_train, best_svm.predict(x_train)))
print("Test set Accuracy (Jaccard): ", jaccard_similarity_score(y_test, best_svm.predict(x_test)))

print("Train set Accuracy (F1): ", f1_score(y_train, best_svm.predict(x_train), average='weighted'))
print("Test set Accuracy (F1): ", f1_score(y_test, best_svm.predict(x_test), average='weighted'))

Train set Accuracy (Jaccard):  0.5206875
Test set Accuracy (Jaccard):  0.52375
Train set Accuracy (F1):  0.4964253577018057
Test set Accuracy (F1):  0.4989571409619487

# Logistic regression

In [600]:
# importing libraries
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import log_loss

In [601]:
for k in ('lbfgs', 'saga', 'liblinear', 'newton-cg', 'sag'):
    lr_model = LogisticRegression(C = 0.01, solver = k).fit(x_train, y_train)
    lr_yhat = lr_model.predict(x_test)
    y_prob = lr_model.predict_proba(x_test)
    print('When Solver is {}, logloss is : {}'.format(k, log_loss(y_test, y_prob)))

When Solver is lbfgs, logloss is : 0.6915931334774018

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

When Solver is saga, logloss is : 0.6915935679581906
When Solver is liblinear, logloss is : 0.6915930572600093
When Solver is newton-cg, logloss is : 0.6915935910213393

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

When Solver is sag, logloss is : 0.6915935973502713

In [602]:
# Best logistic regression model with liblinear solver

best_lr_model = LogisticRegression(C = 0.01, solver = 'liblinear').fit(x_train, y_train)
best_lr_model

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [603]:
## Evaluation Metrics
# jaccard score and f1 score
from sklearn.metrics import jaccard_similarity_score
from sklearn.metrics import f1_score

print("Train set Accuracy (Jaccard): ", jaccard_similarity_score(y_train, best_lr_model.predict(x_train)))
print("Test set Accuracy (Jaccard): ", jaccard_similarity_score(y_test, best_lr_model.predict(x_test)))

print("Train set Accuracy (F1): ", f1_score(y_train, best_lr_model.predict(x_train), average='weighted'))
print("Test set Accuracy (F1): ", f1_score(y_test, best_lr_model.predict(x_test), average='weighted'))

Train set Accuracy (Jaccard):  0.520875
Test set Accuracy (Jaccard):  0.52525
Train set Accuracy (F1):  0.5025711519168212
Test set Accuracy (F1):  0.5062060060676232

# Decision trees

In [604]:
# importing libraries
from sklearn.tree import DecisionTreeClassifier

In [605]:
for d in range(1,10):
    dt = DecisionTreeClassifier(criterion = 'entropy', max_depth = d).fit(x_train, y_train)
    dt_yhat = dt.predict(x_test)
    print("For depth = {}  the accuracy score is {} ".format(d, accuracy_score(y_test, dt_yhat)))

For depth = 1  the accuracy score is 0.52225
For depth = 2  the accuracy score is 0.52275
For depth = 3  the accuracy score is 0.524
For depth = 4  the accuracy score is 0.524
For depth = 5  the accuracy score is 0.5255
For depth = 6  the accuracy score is 0.52525
For depth = 7  the accuracy score is 0.5235
For depth = 8  the accuracy score is 0.524
For depth = 9  the accuracy score is 0.5235

In [606]:
## Creating the best model for decision tree with best value of depth 7

best_dt_model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 7).fit(x_train, y_train)
best_dt_model

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=7,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [607]:
## Evaluation Metrics
# jaccard score and f1 score
from sklearn.metrics import jaccard_similarity_score
from sklearn.metrics import f1_score

print("Train set Accuracy (Jaccard): ", jaccard_similarity_score(y_train, best_dt_model.predict(x_train)))
print("Test set Accuracy (Jaccard): ", jaccard_similarity_score(y_test, best_dt_model.predict(x_test)))

print("Train set Accuracy (F1): ", f1_score(y_train, best_dt_model.predict(x_train), average='weighted'))
print("Test set Accuracy (F1): ", f1_score(y_test, best_dt_model.predict(x_test), average='weighted'))

Train set Accuracy (Jaccard):  0.525125
Test set Accuracy (Jaccard):  0.5235
Train set Accuracy (F1):  0.501729347420285
Test set Accuracy (F1):  0.4992201448321264

# Comparison of models

### Create test set from the complete dataset:

In [608]:
df = pd.read_csv('datacollisions.csv')

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [609]:
dfp= df[['SEVERITYCODE','WEATHER', 'ROADCOND', 'LIGHTCOND']]

In [610]:
dfp= dfp[~(dfp == 'Other').any(axis=1)]
dfp= dfp[~(dfp == 'Unknown').any(axis=1)]
dfp.dropna(inplace=True)

for col in list(dfp):
    print(col)
    print(dfp[col].unique())
dfp.columns

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

SEVERITYCODE
[2 1]
WEATHER
['Overcast' 'Raining' 'Clear' 'Snowing' 'Fog/Smog/Smoke'
 'Sleet/Hail/Freezing Rain' 'Blowing Sand/Dirt' 'Severe Crosswind'
 'Partly Cloudy']
ROADCOND
['Wet' 'Dry' 'Snow/Slush' 'Ice' 'Sand/Mud/Dirt' 'Standing Water' 'Oil']
LIGHTCOND
['Daylight' 'Dark - Street Lights On' 'Dark - No Street Lights' 'Dusk'
 'Dawn' 'Dark - Street Lights Off' 'Dark - Unknown Lighting']

Index(['SEVERITYCODE', 'WEATHER', 'ROADCOND', 'LIGHTCOND'], dtype='object')

In [611]:
X.shape

(20000, 22)

In [612]:
dfpd= pd.concat([dfp,pd.get_dummies(dfp['LIGHTCOND'])], axis=1)
dfpd= pd.concat([dfpd,pd.get_dummies(dfp['ROADCOND'])], axis=1)
dfpd= pd.concat([dfpd,pd.get_dummies(dfp['WEATHER'])], axis=1)
dfpd.drop(['WEATHER', 'ROADCOND', 'LIGHTCOND'], axis=1, inplace=True)

In [613]:
y = dfpd[['SEVERITYCODE']].values
y[0:5]

array([[2],
       [1],
       [1],
       [1],
       [2]])

In [614]:
X = dfpd
X.drop(['SEVERITYCODE'], axis=1, inplace=True)

In [615]:
X.shape

(169957, 23)

In [616]:
X[0:5]

,Dark - No Street Lights,Dark - Street Lights Off,Dark - Street Lights On,Dark - Unknown Lighting,Dawn,Daylight,Dusk,Dry,Ice,Oil,Sand/Mud/Dirt,Snow/Slush,Standing Water,Wet,Blowing Sand/Dirt,Clear,Fog/Smog/Smoke,Overcast,Partly Cloudy,Raining,Severe Crosswind,Sleet/Hail/Freezing Rain,Snowing
0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0

In [617]:
#Dropping a column that was excluded from the training set (because it are rare occurences and we downsized the treining set, so the column was not created while making dummy columns)
X.drop(['Dark - Unknown Lighting'], axis=1, inplace=True)

In [618]:
X.shape

(169957, 22)

In [619]:
X[0:5]

,Dark - No Street Lights,Dark - Street Lights Off,Dark - Street Lights On,Dawn,Daylight,Dusk,Dry,Ice,Oil,Sand/Mud/Dirt,Snow/Slush,Standing Water,Wet,Blowing Sand/Dirt,Clear,Fog/Smog/Smoke,Overcast,Partly Cloudy,Raining,Severe Crosswind,Sleet/Hail/Freezing Rain,Snowing
0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
2,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0

In [620]:
print(y.shape)
print(X.shape)

(169957, 1)
(169957, 22)

###  Compare models to our complete dataset

In [621]:
# Jaccard

# KNN
knn_yhat = best_knn_model.predict(X)
jacc1 = round(jaccard_similarity_score(y, knn_yhat), 2)

# Decision Tree
dt_yhat = best_dt_model.predict(X)
jacc2 = round(jaccard_similarity_score(y, dt_yhat), 2)

# Support Vector Machine
svm_yhat = best_svm.predict(X)
jacc3 = round(jaccard_similarity_score(y, svm_yhat), 2)

# Logistic Regression
lr_yhat = best_lr_model.predict(X)
jacc4 = round(jaccard_similarity_score(y, lr_yhat), 2)

jss = [jacc1, jacc2, jacc3, jacc4]
jss

[0.55, 0.44, 0.44, 0.45]

In [622]:
# F1_score

# KNN
knn_yhat = best_knn_model.predict(X)
f1 = round(f1_score(y, knn_yhat, average = 'weighted'), 2)

# Decision Tree
dt_yhat = best_dt_model.predict(X)
f2 = round(f1_score(y, dt_yhat, average = 'weighted'), 2)

# Support Vector Machine
svm_yhat = best_svm.predict(X)
f3 = round(f1_score(y, svm_yhat, average = 'weighted'), 2)

# Logistic Regression
lr_yhat = best_lr_model.predict(X)
f4 = round(f1_score(y, lr_yhat, average = 'weighted'), 2)

f1_list = [f1, f2, f3, f4]
f1_list

[0.55, 0.44, 0.43, 0.45]

In [623]:
# log loss

# Logistic Regression
lr_prob = best_lr_model.predict_proba(X)
ll_list = ['NA','NA','NA', round(log_loss(y, lr_prob), 2)]
ll_list

['NA', 'NA', 'NA', 0.69]

In [624]:
columns = ['KNN', 'Decision Tree', 'SVM', 'Logistic Regression']
index = ['Jaccard', 'F1-score', 'Logloss']

accuracy_df = pd.DataFrame([jss, f1_list, ll_list], index = index, columns = columns)
accuracy_df1 = accuracy_df.transpose()
accuracy_df1.columns.name = 'Algorithm'
accuracy_df1

Algorithm           Jaccard F1-score Logloss
KNN                    0.55     0.55      NA
Decision Tree          0.44     0.44      NA
SVM                    0.44     0.43      NA
Logistic Regression    0.45     0.45    0.69

# Summary evaluation of our metrics

Overall, our KNN model seems to be the most valuable.

The F1 score of our chosen model is higher than 0, but is not truely impressive. But then again: "All models are wrong, but some are useful." We will use this model to predict the accident outcome with certain values for x.

#  Prediction with chosen model

In [625]:
unique, counts = np.unique(knn_yhat, return_counts=True)
dict(zip(unique, counts))

{1: 115501, 2: 54456}

In [626]:
X[0:1]

,Dark - No Street Lights,Dark - Street Lights Off,Dark - Street Lights On,Dawn,Daylight,Dusk,Dry,Ice,Oil,Sand/Mud/Dirt,Snow/Slush,Standing Water,Wet,Blowing Sand/Dirt,Clear,Fog/Smog/Smoke,Overcast,Partly Cloudy,Raining,Severe Crosswind,Sleet/Hail/Freezing Rain,Snowing
0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0

Let us enter some values of our own:

Example: an accident happening in the dark, icy roads and during snow:

In [630]:
X2= [[1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1]]
knn_yhat = best_knn_model.predict(X2)
print(knn_yhat)

[2]

Example: an accident during daylight, on dry roads and in clear weather:

In [629]:
X2= [[0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0]]
knn_yhat = best_knn_model.predict(X2)
print(knn_yhat)

[1]

In [ ]:
So our model predicted a severe outcome in bad weather and road conditions, something we can explain from a 'mechanistic' point of view.

# Acknowledgments

I copypasted code for the ML models from a Githubber (https://github.com/Thomas-George-T/IBM-Data-Science-Professional-Certification) because his code is excellent and clear. So thank you, Thomas George.